<div class='container'>
    <h1>Register: </h1>
  <form #RegisterForm='ngForm' (ngSubmit)="register()">
  <div class='form-group'>
  <label for='name'>Name</label>
  <input type="text" class='form-control' id='name' required [(ngModel)]="user.name" name='name' #name='ngModel' >
  
  <div [hidden]='name.valid || name.pristine' class="alert alert-danger">
  Name is required
  </div>
  </div>
  <div class='form-group'>
    <label for='mobile'>mobile No.</label>
    <input type="number" class='form-control' id='mobile' required [(ngModel)]="user.mobile" name='mobile' #mobile='ngModel' >
    
    <div [hidden]='mobile.valid || mobile.pristine' class="alert alert-danger">
    Mobile No. is required
    </div>
  </div>
    <div class='form-group'>
      <label for='email'>E-mail</label>
      <input type="text" class='form-control' id='email' required [(ngModel)]="user.email" name='email' #email='ngModel' >
    
      <div [hidden]='email.valid || email.pristine' class="alert alert-danger">
      email is required
      </div>
    </div>
    <div class='form-group'>
      <label for='userName'>User Name</label>
      <input type="text" class='form-control' id='userName' required [(ngModel)]="user.userName" name='userName' #userName='ngModel' >
    
      <div [hidden]='userName.valid || userName.pristine' class="alert alert-danger">
      User Name is required
      </div>
    </div>
    <div class='form-group'>
        <label for='password'>Password</label>
        <input type="text" name='password' [(ngModel)]='user.password' id='password' required #password='ngModel'>
        <div [hidden]='password.valid || password.pristine' class ='alert alert-danger'>
          Password is required
        </div>
      </div>
      <div class ='text-center'>
    <button type="submit" class="btn btn-success" [disabled]="!RegisterForm.valid" >Register</button>
    </div>
     <img id='userImage' [src]='url' />
    <!--<input type='file' id="uploadBannerImage" onchange="readURL(this);" /> -->
    <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file"
               id="file"
               (change)="handleFileInput($event)">
    </div>
  </form>
  </div>
  