<nav class="navbar navbar-default" style="background-color: #53057d">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
              <!-- <img src="assets/img/ngx-bootstrap.svg" class="logo"> -->
            </a>
            <span class="navbar-brand" style="color:white">FeedApp</span>
            <div  *ngIf = "user.name!==undefined" >
                <div class='userName text-left'> Welcome {{user.name}}</div> <div>
                  {{imgSer}}
                </div>
            </div>
        </div>
        <div  *ngIf = "user.name==null" class="nav navbar-nav" style="flex-direction: row" #guestBlock>
            <div class="nav navbar-nav active" style="padding:5px">
              <a href="login">
              Login 
            </a>
          </div>
            <div class="nav navbar-nav" style="padding:5px"><a href="register">Register</a></div>
            <!-- <li class="dropdown" dropdown> <!-- {1} -->
                <!-- <a dropdownToggle role="button"> 
                  Dropdown <span class="caret"></span></a> 
                <ul *dropdownMenu class="dropdown-menu"> 
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li> -->
          </div>
          <div  *ngIf = "user.name!==undefined" class="nav navbar-nav" style="flex-direction: row" #UserBlock>
            <!-- <div class='userName text-left'> Welcome {{user.name}}</div> <div>
              {{imgSer}}
            </div> -->
              <div class="nav navbar-nav active" style="padding:5px">
                  <a href="profile">
                  Profile 
                </a>
              </div>
              <div class="nav navbar-nav active" style="padding:5px">
                  <a href="#" (click)='logout()'>
                  Logout 
                </a>
              </div>
          </div>
    </div>
    
  </nav>