<div class="container">
    <form #postForm='ngForm' (ngSubmit)='submitPost()' >
            <div class='form-group'>
            <input type="text" name='postinput' class='form-control' id='postinput' required placeholder="what is in your Mind..."
             #postinput='ngModel' [(ngModel)]='post.content'>
            <div [hidden]='postinput.valid || postinput.pristine' class ='alert alert-danger'>
                    Name is required
                  </div>
        </div>
        <div class ='text-center'>
                <button type="submit" class="btn btn-success" [disabled]="!postForm.valid" >Submit Post</button>
            </div>
            <div [hidden]='!result' class ='alert alert-success'>
                    Post submitted successfully
                  </div>
    </form>
    <div class="container">
            <h2>check whats going on...</h2>
            <div *ngFor='let post of posts'  >
                <div class='form-group'>
                        <app-post-component [post]='post'></app-post-component>
                  </div>
            </div>
        </div>
    
</div>