<div class="container">
    <div class='form-group'>
    {{post.content}}
    <div class='commmentUser'>
    by {{post.userName}}
    </div>
    <div>
<img  style="width:25px;height:25px;" id='imgLike' [src]="srcPath" appLike [post]='post' [isLike]='islike' (isLiked)="onchkIsLiked($event)"/>

{{post.likesCounter}}    
</div>
    <div>
<div *ngFor='let comment of post.commments'>
        <div class="container">
<app-comment [comment]='comment'></app-comment>
        </div>
</div>
<div class='form-group'>
        <form #CommentForm='ngForm' (ngSubmit)='submitComment()' >
                <div class='form-group'>
                <input type="text" name='commentinput' class='form-control' id='commentinput' required placeholder="what do you think..."
                 #commentinput='ngModel' [(ngModel)]='comment.content'>
                <div [hidden]='commentinput.valid || commentinput.pristine' class ='alert alert-danger'>
                        comment is required
                      </div>
            </div>
            <div class ='text-center'>
                    <button type="submit" class="btn btn-success" [disabled]="!CommentForm.valid" >Add Comment</button>
                </div>
                <div [hidden]='!result' class ='alert alert-success'>
                        Comment submitted successfully
                      </div>
        </form>
</div>
    </div>
    </div>
</div>
