<div class="container">
  <h2>Login Screen</h2>
  <form #loginForm="ngForm" (ngSubmit)="Login()">
  <div class='form-group'>
    <label class='label' for='name'>User Name</label>
    <input type="text" name='name' [(ngModel)]='LoginDetails.userName' id='name' required #name='ngModel'>
    <div [hidden]='name.valid || name.pristine' class ='alert alert-danger'>
      Name is required
    </div>
  </div>
  <div class='form-group'>
      <label for='password'>Password</label>
      <input type="text" name='password' [(ngModel)]='LoginDetails.password' id='password' required #password='ngModel'>
      <div [hidden]='password.valid || password.pristine' class ='alert alert-danger'>
        Password is required
      </div>
    </div>
    <div class ='text-center'>
        <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid" >Submit</button>
    </div>
</form>
</div>
