
<div class="container">
    <form #profileForm='ngForm' >
      <table>
        <tr>
          <td>
              <div class='form-group'>
                  Name : <label for="user.name">{{user.name}}</label>
                 </div>
                 <div class='form-group'>
                  User Name In Application : <label for="user.userName">{{user.userName}}</label>
                 </div>
                 <div class='form-group'>
                  Email : <label for="user.email">{{user.email}}</label>
                 </div>
                 <div class='form-group'>
                  Mobile : <label for="user.mobile">{{user.mobile}}</label>
                  </div>
         
          </td>
          <td>
            <img [src]='imgSer'>
          </td>
        </tr>
      </table>
              </form>
      </div>
